
button{
    padding: 5px;
    margin: 5px;
    
}

#ins-div{
    width: 500px;
    height: auto;
    overflow: auto;
}
.inserted-div{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box;
    line-height: 100px;    
    background: rgb(29, 27, 27);
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}